set tabsize 4
set const
set smooth
set autoindent

include ~/.nano/syntax/asm.nanorc
include ~/.nano/syntax/c.nanorc
include ~/.nano/syntax/cmake.nanorc
include ~/.nano/syntax/csharp.nanorc
include ~/.nano/syntax/css.nanorc
include ~/.nano/syntax/cython.nanorc
include ~/.nano/syntax/default.nanorc
include ~/.nano/syntax/git.nanorc
include ~/.nano/syntax/glsl.nanorc
include ~/.nano/syntax/go.nanorc
include ~/.nano/syntax/html.nanorc
include ~/.nano/syntax/ini.nanorc
include ~/.nano/syntax/inputrc.nanorc
include ~/.nano/syntax/java.nanorc
include ~/.nano/syntax/javascript.nanorc
include ~/.nano/syntax/json.nanorc
include ~/.nano/syntax/keymap.nanorc
include ~/.nano/syntax/lisp.nanorc
include ~/.nano/syntax/lua.nanorc
include ~/.nano/syntax/makefile.nanorc
include ~/.nano/syntax/man.nanorc
include ~/.nano/syntax/markdown.nanorc
include ~/.nano/syntax/mpdconf.nanorc
include ~/.nano/syntax/nginx.nanorc
include ~/.nano/syntax/php.nanorc
include ~/.nano/syntax/pkg-config.nanorc
include ~/.nano/syntax/pkgbuild.nanorc
include ~/.nano/syntax/properties.nanorc
include ~/.nano/syntax/python.nanorc
include ~/.nano/syntax/ruby.nanorc
include ~/.nano/syntax/sed.nanorc
include ~/.nano/syntax/shell.nanorc
include ~/.nano/syntax/sql.nanorc
include ~/.nano/syntax/systemd.nanorc
include ~/.nano/syntax/tex.nanorc
include ~/.nano/syntax/vala.nanorc
include ~/.nano/syntax/vi.nanorc
include ~/.nano/syntax/xml.nanorc
include ~/.nano/syntax/xresources.nanorc
include  ~/.nano/syntax/yaml.nanorc
